@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=DM+Sans:wght@400;600;700;800&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Inter', 'Montserrat', sans-serif;
}
